@import url('https://fonts.googleapis.com/css?family=Bangers');
body, html {
  height: 100%;
}

body{
  /* padding-top: 50px; */
  background-color: #e0e0e0;
  /* background: url(../image/bgb-2.jpg); */
  /* background-repeat: no-repeat; */
  background-size: 100%;
}

#headerWrapper{
position: relative;
padding: 0;
margin: 0;
overflow: hidden;
height: 100%;
background-image: url(../image/bg-6.jpg); 
background-repeat: no-repeat;
background-size: 100% 100%;
/* background-color: palegreen; */
opacity: 1;
background-position: top center;
background-attachment: fixed;
}


#logotext{
position: absolute;
width: 100%;
height: 200px;
background-image: url(../image/logo1.png);
background-color:rgba(0, 0, 0, .6);
background-repeat: no-repeat;
background-position: center;
background-size: 25% 160px;
top: 50%;
margin-top : -90px;
}

.navbar  {
  opacity: .8;
  /* background-color: #d9edf7 ; */
}

.navbar-brand{
  font-family: 'Bangers', cursive;
  font-size: 20px;
  color: black;
}


.img-thumb{
  width: auto;
  height: 200px;
  margin-left: 2px;
  max-width: calc(100% - 5px);
}

.main-panel-head {
  background-color: #222 !important;
  color: #f0f0f0 !important;
}

#footer{
  margin-top: 50px;
}

img.details{
  width: 100%;
  margin: 15px auto;
}

.table-auto{
  width:auto;
  margin: 0 auto;
}

#add-product-btn{
  margin-top: -35px;
}

.index-head, {
  font-family: monospace;
  font-size: 38px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.panel-heading {
  font-size: 24px;
}

.prod-card>div {
  box-sizing: border-box;
  border: #dff0d8 .5px solid;
  margin: 15px 1px;
  /* padding: 2px; */
  padding-top: 0;
  margin-top: 0;

}

.prod-card>div>h4 {
  background-color: #eeeeee;
  padding: 10px;
  margin-top: 0;
}



